body {
    margin: 0;
    padding: 0;
    background-color: #17181a;
}

.site-header {
    background-color: #590909;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1000px;
    margin: auto;
}

.links {
    display: flex;
    gap: 48px
    
}

a {
    text-decoration: none;
    color: #FFEFDE;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}


.space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}